*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding-top: 50px;
    min-height: 48px;
    line-height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header a {
    font-family: 'Playfair';
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}

.logo {
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
}

.nav a {
    display: inline-block;
    list-style-type: none;
    margin-left: 90px;
    text-transform: uppercase;
    opacity: 0.9;
}

.mg-t {
    margin-top: 52px;
}

.pd-l-r {
    padding: 0 46px;
}

h6 {
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.6;
    padding-top: 20px;
}

h4 {
    font-weight: 400;
    text-transform:capitalize;
    padding-top: 20px;
    font-size: 36px;
    opacity: 0.8;

}

p {
    text-align: justify;
    line-height: 1.4;
    padding: 24px 0;
}

img {
    width: 100%;
    padding-top: 56px;
}


.icon i{
    transform: rotate(130deg);
    position: absolute;

}

.send-email {
    background-color: #ddd;
}

.address-email {
    position: relative;
    display: flex;
    justify-content: center;

}

.address-email input{
    background-color: #ddd;
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 12px;
    min-width: 320px;

}

.send-email {
    min-height: 300px;
    text-align: center;
    
}

.button {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 280px;
}

.button button {
    padding: 16px 28px;
    background-color: white;
    border: 1px solid #aaa;
    font-size: 16px;
    
}


.header-main {
    font-size: 30px;
    padding: 76px 0;
}


.fooder {
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
}
.fooder p {
    display: inline-block;
}