* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#shop h1 {
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(0,rgb(156, 156, 212, 0.6), rgb(212, 212, 134, 0.2));
  padding: 5px 0;
  color: rgb(185, 77, 185);
  margin-bottom: 15px;
}

#shop .contener {
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
}

#shop .list-item {
  display: flex;
  flex-wrap: wrap;
}

#shop .item {
  width: 33.333333%;
  margin-bottom: 15px;
  padding: 6px 15px ;
  text-align: center;
  transition: margin 0.5s ease-in;
}

#shop .item:hover {
  margin: -6px 0 0;
  background-color: rgb(228, 215, 228);
}


.item img {
  width: 100%;
  height: 20vw;
  border: 2px solid black;
}

.info a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.info a:hover,
.info .price-item:hover {
  color: blueviolet;
}

.info .price-item {
  color: tomato;
  margin-top: 10px;
}




