#shop .contener {
  max-width: 1000px;
  margin: auto;
}

a {
  text-decoration: none;
  color: blue;
}


#shop .content::after {
  content: "";
  display: block;
  width: 500px;
  height: 1px;
  background-color: rgb(156, 141, 141);
  margin: auto;

}

#shop .content {
  text-align: center;
  text-transform: uppercase;
  color: brown;
  text-shadow:0 0 2px rgb(219, 219, 240)  ;
}

#shop .list-item {
  margin: -8px;
}

#shop .item {
  float: left;
  width: 33.33333%;
  text-align: center;
  
}

#shop .img  {
  max-width: 300px;

}

#sp1 .contener {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
#sp1 .info {
  width: 100%;
  text-align: justify;
}

#sp1 .buttom {
  padding: 8px 10px;
  background-color: #aaa;
  border-radius: 2px;
}

#sp1 img {
  max-width: 500px;
}

