* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-30 {
  margin-top: 30px;
}

.mr-15 {
  margin-right: 15px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.over {
  max-width: 1000px;
  margin: auto;
}

.th1,
.th2,
.th3,
.th4 {
  display: flex;
}

.contener {
  width: 40%;
}

.box-red {
  background-color: red;
  height: 400px;
  width: 60%;
}

.box-green {
  background-color: green;
  height: 200px;
}

.box-blue {
  background-color: blue;
  height: 200px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: green;
}

.box3 {
  background-color: blue;
}

.size {
  width: 33.33333%;
  height: 400px;
}
