* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'inter';
    background-color: var(--colorBackground);
  }

  a {
      text-decoration: none;
      cursor: pointer;
  }

  button {
      border: none;
      cursor: pointer;
      color: white;
      width: 148px;
      height: 50px;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  img {
      width: 100%;
      display: block;
      
  }

  ul li {
      list-style-type: none;
  }