:root {
    --colorMenu: #1289a7;
    --colorBackground: #f3f5fb;
    --colorBtn: #38a4f8;
    --color-icon-check : #27ae60;
    --color-edit : rgba(56, 164, 248, 1);
    --color-delete: rgba(250, 18, 18, 1);
    --color-menu-tablet: rgba(15, 41, 109, 1);

  }