
.name-row-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.name-row-table .name {
    margin-left: 10px;
}
.img-row-table {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
table{
    border-spacing: 0;
}

th {
    border: 1px solid gray;
    padding: 12px;
}
td {
    border: 1px solid rgb(148, 148, 148);
    padding:  10px 15px;
    text-align: center; 
}

.name-nv, .email-nv {
    width: 300px;
    
}

.address-nv {
    width: 400px;
}
.birthday-nv , .phone-number-nv, .container-table .check, .act-nv{
    width: 150px;
}

.act-nv .edit-card {
    color: var(--color-edit);
    font-size: 24px;
   
  }

  .act-nv .delete-card {
    color: var(--color-delete);
    font-size: 24px;

  
  }

.act-nv {
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.act-nv:hover .sub-act {
    display: block;
}

.sub-act {
    display: none;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    
   
}

.container-table .check {

    color: var(--color-icon-check);
    font-size: 24px;
}

