.info {
    display: flex;
}
.icon-print {
  padding: 13px 22px;
  border: 1px solid #8e8ea1;
  box-sizing: border-box;
  border-radius: 40px;
  color: black;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-cart-hs {
  position: absolute;
}

.btn-down {
  position: relative;
}
.btn-down:hover .sub-down {
  display: block;
}


.sub-down {
  position: absolute;
    top: 50px;
    background-color: currentcolor;
    width: 100%;
    display: none;
}

.down-pdf, .down-word {
  color: black;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
}

.down-pdf:hover, 
.down-word:hover{
  background-color: var(--colorBtn);
}



@media(max-width: 1112px) {
  .info {
    display: block;
  }

  .container-info .over-img {
    width: 100px;
  }

  .container-info .birthday {
    margin: 5px 0 30px;
  }

  .container-info{
    margin-top: 20px;
  }
  .icon-print {
    margin-right: 0;
  }
  
}