
.container-detail-product {
    padding: 30px;
}

.color-detail-product, .size-detail-product {
    display: flex;
    align-items: center;
    
}

.color-detail-product .color {
    margin: 0 6px;
}

.size-detail-product .size {
    width: 60px;
    height: 30px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;

}


.thumbimg-active {
    border: 0.5px solid #000;
}
.thumbimg-active, .thumbimg {
    cursor: pointer;
    background: #ccc;
}

.Description {
    border: 1px 0 solid gray;
}

.add-cart {
    background-color: tomato;
    width: 100%;
    height: 40px;
}

.pay-to-cart {
    background-color: #009688;
    width: 100%;
    height: 40px;
}