.add-to-cart {
    position: absolute;
    bottom: 100px;
    padding: 20px;
    width: 100%;
    /* text-align: center; */
    opacity: 0;
    transition: 0.8s ease;
    transition-delay:0.2s ;
}

.add-to-cart button {
    width: 100%;
    background-color: tomato;
    height: 30px;
}

.img-product-men:hover .add-to-cart {
    opacity: 1;
}

.img-product-men {
    display: none;
}

.show-img-product {
    display: block;
}

/* Style fillter */

.fillter{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 150px 0 50px;
}

/* .fillter::before {
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    background-color: #666;
    position: absolute;
    bottom: -10px;
    
} */

.btn-fillter {
    border: none;
    outline: none;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: tomato;
    cursor: pointer;
    margin: 0 15px;
    border-radius: 30px;
    opacity: .9;
  }
  
  .btn-fillter:hover {
      opacity: 1;
  }
  
  .btn-fillter.active {
    background-color: #009688;
    color: white;
  }